{{ block "home" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HLUG</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/intro.css">
    <link rel="stylesheet" href="./css/footer.css">

    <link rel="icon" type="image/x-icon" href="./assets/linux-icon.png">
  </head>
  <body id="root">
    {{ template "navbar" . }}
    
    {{ template "intro" . }} 

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
