{{ define "intro" }}
    <div id="intro-container">
      <!-- TODO: add image carousel? -->

      <div id="intro-text">
        <h1>Welcome Linux Users</h1>

        <p>The Houston Linux User's Group is the place for Linux activity in Houston. Whether you are looking to socialize with Linux loving peers, promote the adoption of Linux in a particular venue, or learn about Linux and its software offerings, the Houston Linux User's Group can assist you in achieving your goals, with Linux! The Houston Linux User Group's mission is based on four pillars <a href="#">Advocacy</a>, <a href="#">Education</a>, <a href="#">Support</a>, and <a href="#">Social</a>.</p>
      </div>
    </div>
{{ end }}
