<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body>
    {{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
    <main>
      <header>
        <h1 id="tag_{{ .Title }}" class="text-3xl font-bold">{{ block "title" . }}{{ end }}</h1>
      </header>
      {{ .Content }}
    </main>
  </body>
</html>
