<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body id="root" class="w-full h-screen flex-1 flex justify-center items-center text-2xl">
    <main class="w-3/4 h-fit flex flex-row">

      {{ partial "header.html" . }}

      <div>
        {{ block "main" . }}
        {{ end }}
      </div>

    </main>
  </body>
</html>
