<footer class="footer">
  <div class="footer__inner">

    <div class="footer-sponsor-container">
      <a 
        class="footer-sponsor-link"
        href="https://seshcoworking.com"
        target="_blank">
        <img src="/sesh-coworking-logo.png" alt="sesh-coworking" />
      </a>
    </div>

    <div class="footer-socials-row">
      <a 
        class="footer-social-link"
        href="https://www.meetup.com/houston-linux-user-group/"
        target="_blank">
        <img src="/meetup-logo.png" alt="meetup" />
      </a>

      <a 
        class="footer-social-link"
        href="https://www.reddit.com/r/houstonlinuxusergroup/"
        target="_blank">
        <img src="/reddit-logo.png" alt="reddit" />
      </a>

      <a
        class="footer-social-link"
        href="https://discord.gg/cp6xHm9YKc"
        target="_blank">
        <img src="/discord-logo.png" alt="discord" />
      </a>
    </div>

  </div>
</footer>
