<header class="flex flex-row">
  {{ with $home := $.Site.GetPage "/" }}
    <div>
      <nav class="flex flex-col align-start p-3">
        <h1 class="text-4xl font-bold pb-2">
          <a href="{{ $home.Permalink }}">{{ $.Site.Title }}</a>
        </h1>

        {{ range $page := $home.Pages }}
          <a href="{{ $page.Permalink }}"
            class="hover:text-teal-800 focus:text-red-950">
            {{ $page.LinkTitle }}
          </a>
        {{ end }}
      </nav>
    </div>
    <hr class="w-[1px] h-full bg-black pt-2 pb-2 mr-3"> 
  {{ end }}
</header>
